<!DOCTYPE html>
<html>

<head>
    <title>RorSocialScaffold</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="nav">
        <%= link_to 'Stay in touch', root_path %>
        <div class="menu">
            <div class="menu-item">
                <%= menu_link_to 'Timeline', posts_path %>
            </div>
            <div class="menu-item">
                <%= menu_link_to 'All users', users_path %>
            </div>
            <%= current_user_page_link(current_user) %>
        </div>
        <%= login_check(current_user) %>
    </nav>
    <%= render_notification(notice, 'notice') %>
    <%= render_notification(alert, 'alert') %>
    <main class="main">
        <%= yield %>
    </main>
</body>

</html>